<h1> this is about page </h1>

<p><%= link_to 'return to articles listing', articles_path %></p>
<p><%= link_to 'create new articles listing', new_article_path %></p>
<p><%= link_to 'Home', root_path %></p>