<div class="center jumbotron">
    <div class="jumbotron text-center text-black">
	    <h1 class="display-4">My App</h1>
	    <hr class="my-4">
	    <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
    </div>
</div>